<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="keywords" content="artjunks, collection, masterpieces">
        <meta name="author" content="Ethan">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="ArtJunks">
        <meta property="og:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta property="og:image" content="../asset/images/background.jpeg">
        <meta name="twitter:title" content="ArtJunks">
        <meta name="twitter:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="twitter:image" content="../asset/images/background.jpeg">

        <title>ArtJunks</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/blog.css">
        <link rel="icon" href="../asset/icons/logo.jpeg" type="image/x-icon">
    </head>
    <body>
        <div id="header-part">
            <a id="logo">ARTJUNKS</a>
            <div id="desktop-options">
                <a class="desktop-option">Home</a>
                <a class="desktop-option">About</a>
                <a class="desktop-option">Artists</a>
                <a class="desktop-option">Careers</a>
                <a class="desktop-option">News</a>
                <div class="desktop-option">Company</div>
                <button class="button" id="get-started-button">Get Started</button>
            </div>
            <div id="mobile-tablet-option">
                <div class="mt-option"></div>
                <div class="mt-option"></div>
                <div class="mt-option"></div>
            </div>
        </div>

        {{#blog}}
        <img src="../asset/images/image{{id}}.jpeg" alt="background">
        <h1>{{title}}</h1>
        <div id="date">{{date}}</div>
        <div id="content">{{{content}}}</div>
        {{/blog}}

        <footer>
            2024 © Artjunks
        </footer>
    </body>
</html>