<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="keywords" content="artjunks, collection, masterpieces">
        <meta name="author" content="Ethan">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="ArtJunks">
        <meta property="og:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta property="og:image" content="../asset/images/background.jpeg">
        <meta name="twitter:title" content="ArtJunks">
        <meta name="twitter:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="twitter:image" content="../asset/images/background.jpeg">

        <title>ArtJunks</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/blog.css">
        <link rel="icon" href="../asset/icons/logo.jpeg" type="image/x-icon">
    </head>
    <body>
        <div id="header-part">
            <a id="logo" href="/">ARTJUNKS</a>
            <div id="desktop-options">
                <a class="desktop-option" href="/">Home</a>
                <a class="desktop-option" href="/about">About</a>
                <a class="desktop-option" href="/artists">Artists</a>
                <a class="desktop-option" href="/career">Careers</a>
                <a class="desktop-option" href="/">News</a>
                <a class="desktop-option" href="/company">Company</a>
                <button class="button" id="get-started-button" onclick="location.href = '/signup';"><span>Get Started</span></button>
            </div>
            <div id="mobile-tablet-option" class="dropdown">
                <div class="mt-option"></div>
                <div class="mt-option"></div>
                <div class="mt-option"></div>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/artists">Artists</a>
                    <a href="/career">Careers</a>
                    <a href="/">News</a>
                    <a href="/company">Company</a>
                </div>
            </div>
        </div>

        <div id="main-content">
            {{#blog}}
            <img src="../asset/images/blogs/image{{id}}.jpeg" alt="{{alt}}">
            <h3>{{title}}</h3>
            <div id="date">{{date}}</div>
            <div id="content">{{{content}}}</div>
            {{/blog}}
        </div>

        <footer>
            <div class="footer-component">2024 © Artjunks</div>
            <a href="https://github.com/hai17225/Express-Web-Site" class="footer-component" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/ethan17225/" class="footer-component" target="_blank">Linkedin</a>
        </footer>
    </body>
</html>