<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
    <meta name="keywords" content="artjunks, collection, masterpieces">
    <meta name="author" content="Ethan">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="ArtJunks">
    <meta property="og:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
    <meta property="og:image" content="../asset/images/background.jpeg">
    <meta name="twitter:title" content="ArtJunks">
    <meta name="twitter:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
    <meta name="twitter:image" content="../asset/images/background.jpeg">

    <title>ArtJunks</title>

    <style>
        body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    </style>
    <link rel="icon" href="../asset/icons/logo.jpeg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>We're Working on This Page</h1>
        <div class="loader"></div>
        <p>Please check back soon!</p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log("Page is under construction");
        });

        setTimeout(() => {
            window.location.href = '/';
        }, 4000);

    </script>
</body>
</html>
