<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="keywords" content="artjunks, collection, masterpieces">
        <meta name="author" content="Ethan">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="ArtJunks">
        <meta property="og:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGN8xYdAkyx1RqZciNuipo-XRwJE2HjqMsXA&s">
        <meta name="twitter:title" content="ArtJunks">
        <meta name="twitter:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="twitter:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGN8xYdAkyx1RqZciNuipo-XRwJE2HjqMsXA&s">

        <title>ArtJunks</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="../asset/icons/logo.jpeg" type="image/x-icon">
    </head>

    <body> 
        <div id="head-container">
            <div id="header-part">
                <a id="logo" href="/">ARTJUNKS</a>
                <div id="desktop-options">
                    <a class="desktop-option" href="/">Home</a>
                    <a class="desktop-option" href="/about">About</a>
                    <a class="desktop-option" href="/artists">Artists</a>
                    <a class="desktop-option" href="/career">Careers</a>
                    <a class="desktop-option" href="/">News</a>
                    <a class="desktop-option" href="/company">Company</a>
                    <button class="button" id="get-started-button" onclick="location.href = '/signup';"><span>Get Started</span></button>
                </div>
                <div id="mobile-tablet-option" class="dropdown">
                    <div class="mt-option"></div>
                    <div class="mt-option"></div>
                    <div class="mt-option"></div>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/artists">Artists</a>
                        <a href="/career">Careers</a>
                        <a href="/">News</a>
                        <a href="/company">Company</a>
                    </div>
                </div>
            </div>

            <div id="title-box">
                <div id="white-line"></div>
                <div id="big-title">Art pieces made easy accessible for everyone</div>
                <div id="sub-title">Learn, buy and trade art pieces of your favorite artist around the world by using crypto currencies.</div>
                <button class="button" id="learn-more-button" onclick="location.href = '/learnmore';"><span>Learn More</span></button>
            </div>
        </div>

        <h3 style="text-align: left;">Newest reads</h3>

        <div id="content-container">
            {{#blogs}}
                <div class="card" onclick="location.href = '/blogs/{{id}}';">
                    <img class="image" src="../asset/images/blogs/image{{id}}.jpeg" alt="{{alt}}" onclick="location.href = '/blogs/{{id}}';">
                    <div class="content-box">
                        <div class="date">{{date}}</div>
                        <div class="small-title" onclick="location.href = '/blogs/{{id}}';">{{title}}</div>
                        <a class="read-more" href="/blogs/{{id}}">Read More -></a>
                    </div>
                </div>
            {{/blogs}}
        </div>

        <footer class="footer">
        <video class="footer_video" muted="" loop="" autoplay src="//cdn.shopify.com/s/files/1/0526/6905/5172/t/5/assets/footer.mp4?v=29581141968431347981633714450" type="video/mp4">
        </video>

        <div class="container">
          <div class="footer_inner">
            <div class="c-footer">
              <div class="layout">
                <div class="layout_item w-50">
                  <div class="newsletter">
                    <h3 class="newsletter_title">Get updates on fun stuff you probably want to know about in your inbox.</h3>
                    <div id="form">
                      <input type="text" placeholder="Email Address">
                      <button onclick="showPopup()">
                        <svg viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z" />
                          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="layout_item w-25">
                  <nav class="c-nav-tool">
                    <h4 class="c-nav-tool_title">Menu</h4>
                    <ul class="c-nav-tool_list">
                      <li>
                        <a class="footer-a" href="/signup" class="c-link">Get Started</a>
                      </li>

                      <li>
                        <a class="footer-a" href="/" class="c-link">Home</a>
                      </li>

                      <li>
                        <a class="footer-a" href="/about" class="c-link">About Us</a>
                      </li>

                      <li>
                        <a class="footer-a" href="/artists" class="c-link">Artists</a>
                      </li>

                      <li>
                        <a class="footer-a" href="/career" class="c-link">Careers</a>
                      </li>
                    </ul>
                  </nav>

                </div>

                <div class="layout_item w-25">
                  <nav class="c-nav-tool">
                    <h4 class="c-nav-tool_title">Support</h4>
                    <ul class="c-nav-tool_list">

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">Shipping &amp; Returns</a>
                      </li>

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">Help &amp; FAQ</a>
                      </li>

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">Terms &amp; Conditions</a>
                      </li>

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">Privacy Policy</a>
                      </li>

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">Contact</a>
                      </li>

                      <li class="c-nav-tool_item">
                        <a class="footer-a" href="/company" class="c-link">
                          Login
                        </a>
                      </li>
                    </ul>
                  </nav>

                </div>
              </div>
              <div class="layout c-2">
                <div class="layout_item w-50">
                  <ul class="flex">
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M12 6.654a6.786 6.786 0 0 1 2.596 5.344A6.786 6.786 0 0 1 12 17.34a6.786 6.786 0 0 1-2.596-5.343A6.786 6.786 0 0 1 12 6.654zm-.87-.582A7.783 7.783 0 0 0 8.4 12a7.783 7.783 0 0 0 2.728 5.926 6.798 6.798 0 1 1 .003-11.854zm1.742 11.854A7.783 7.783 0 0 0 15.6 12a7.783 7.783 0 0 0-2.73-5.928 6.798 6.798 0 1 1 .003 11.854z" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M1 4h22v2H1V4zm0 14h22v2H1v-2zm18.622-3.086l-.174-.87h-1.949l-.31.863-1.562.003c1.005-2.406 1.75-4.19 2.236-5.348.127-.303.353-.457.685-.455.254.002.669.002 1.245 0L21 14.912l-1.378.003zm-1.684-2.062h1.256l-.47-2.18-.786 2.18zM7.872 9.106l1.57.002-2.427 5.806-1.59-.001c-.537-2.07-.932-3.606-1.184-4.605-.077-.307-.23-.521-.526-.622-.263-.09-.701-.23-1.315-.419v-.16h2.509c.434 0 .687.21.769.64l.62 3.289 1.574-3.93zm3.727.002l-1.24 5.805-1.495-.002 1.24-5.805 1.495.002zM14.631 9c.446 0 1.01.138 1.334.267l-.262 1.204c-.293-.118-.775-.277-1.18-.27-.59.009-.954.256-.954.493 0 .384.632.578 1.284.999.743.48.84.91.831 1.378-.01.971-.831 1.929-2.564 1.929-.791-.012-1.076-.078-1.72-.306l.272-1.256c.656.274.935.361 1.495.361.515 0 .956-.207.96-.568.002-.257-.155-.384-.732-.702-.577-.317-1.385-.756-1.375-1.64C12.033 9.759 13.107 9 14.63 9z" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M15 17a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15zM2 2h4v20H2V2z" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-6v2h2v-2h1a2.5 2.5 0 0 0 2-4 2.5 2.5 0 0 0-2-4h-1V6h-2v2H8v8h3zm-1-3h4a.5.5 0 1 1 0 1h-4v-1zm0-3h4a.5.5 0 1 1 0 1h-4v-1z" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M20.067 8.478c.492.88.556 2.014.3 3.327-.74 3.806-3.276 5.12-6.514 5.12h-.5a.805.805 0 0 0-.794.68l-.04.22-.63 3.993-.032.17a.804.804 0 0 1-.794.679H7.72a.483.483 0 0 1-.477-.558L7.418 21h1.518l.95-6.02h1.385c4.678 0 7.75-2.203 8.796-6.502zm-2.96-5.09c.762.868.983 1.81.752 3.285-.019.123-.04.24-.062.36-.735 3.773-3.089 5.446-6.956 5.446H8.957c-.63 0-1.174.414-1.354 1.002l-.014-.002-.93 5.894H3.121a.051.051 0 0 1-.05-.06l2.598-16.51A.95.95 0 0 1 6.607 2h5.976c2.183 0 3.716.469 4.523 1.388z" />
                      </svg>
                    </li>
                  </ul>
                </div>
                <div class="layout_item w-25">
                  <ul class="flex">
                    <li>
                      <a class="footer-a" href="/company">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
                      </a>
                    </li>
                    <li>
                      <a class="footer-a" href="https://github.com/ethan17225/Blog-Website-Application" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                      </a>
                    </li>
                    <li>
                      <a class="footer-a" href="https://www.linkedin.com/in/ethan17225/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <a onclick="scrollUp()" class="layout_item w-25" style="display:flex;justify-content: end;align-items: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm1 10h3l-4-4-4 4h3v4h2v-4z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="footer_copyright">
            <p>2024 &copy; Artjunks. All Rights Reserved</p>
          </div>
        </div>
      </footer>

      <div class="overlay" id="overlay"></div>
      <div class="popup" id="popup">
          <p>Thank you for applying. We will contact you soon!</p>
      </div>

      <script>
        const popup = document.getElementById('popup');
        const overlay = document.getElementById('overlay');

        function showPopup() {
          popup.style.display = 'block';
          overlay.style.display = 'block';

          setTimeout(() => {
            hidePopup();
          }, 4000);
        }

        function hidePopup() {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }

        function scrollUp() {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        }
      </script>
    </body>
</html>