<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="keywords" content="artjunks, collection, masterpieces">
        <meta name="author" content="Ethan">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="ArtJunks">
        <meta property="og:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta property="og:image" content="../asset/images/background.jpeg">
        <meta name="twitter:title" content="ArtJunks">
        <meta name="twitter:description" content="Inspirational designs, illustrations, and graphic elements from the world's best designers. Want more inspiration? Browse our search results.">
        <meta name="twitter:image" content="../asset/images/background.jpeg">

        <title>ArtJunks</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="../asset/icons/logo.jpeg" type="image/x-icon">
        <!--Figma Link: https://www.figma.com/design/5QR0T9a8ZYBlOShN55uW63/Responsive-Design-Art-News-Landing-Page-(Community)?node-id=0-1&node-type=CANVAS&t=3PcHl1IFxOEUPKiU-0-->
    </head>

    <body> 
        <div id="head-container">
            <div id="header-part">
                <a id="logo">ARTJUNKS</a>
                <div id="desktop-options">
                    <a class="desktop-option" href="/">Home</a>
                    <a class="desktop-option">About</a>
                    <a class="desktop-option">Artists</a>
                    <a class="desktop-option">Careers</a>
                    <a class="desktop-option">News</a>
                    <a class="desktop-option">Company</a>
                    <button class="button" id="get-started-button"><span>Get Started</span></button>
                </div>
                <div id="mobile-tablet-option" class="dropdown">
                    <div class="mt-option"></div>
                    <div class="mt-option"></div>
                    <div class="mt-option"></div>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
                        <a>About</a>
                        <a>Artists</a>
                        <a>Careers</a>
                        <a>News</a>
                        <a>Company</a>
                    </div>
                </div>
            </div>

            <div id="title-box">
                <div id="white-line"></div>
                <div id="big-title">Art pieces made easy accessible for everyone</div>
                <div id="sub-title">Learn, buy and trade art pieces of your favorite artist around the world by using crypto currencies.</div>
                <button class="button" id="learn-more-button"><span>Learn More</span></button>
            </div>
        </div>

        <h3>Newest reads</h3>

        <div id="content-container">
            {{#blogs}}
                <div class="card">
                    <img class="image" src="../asset/images/image{{id}}.jpeg" alt="{{alt}}">
                    <div class="content-box">
                        <div class="date">{{date}}</div>
                        <div class="small-title">{{title}}</div>
                        <a class="read-more" href="/blogs/{{id}}">Read More -></a>
                    </div>
                </div>
            {{/blogs}}
        </div>

        <footer>
            2024 © Artjunks
        </footer>
    </body>
</html>