body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-part {
    padding: 10px;
    background-color: rgb(252, 245, 236);
}

#logo {
    padding-left: 20px !important;
}

img {
    width: 100%;
    height: 500px;
    object-fit:fill;
}

#logo, .desktop-option, button{
    color: black !important;
}

.mt-option {
    background-color: black;
}

button {
    border: 3px solid black !important;
}

button:hover {
    background-color: #ff8787;
}

#main-content {
    max-width: 800px;
    padding: 15px;
    padding-top: 0;
    margin: 0 auto;
}

#date {
    opacity: 0.5;
}

footer {
    width: 100%;
}

p {
    letter-spacing: 0.55px;
     font-size: 16px;
     line-height: 28px;
}

h3 {
    padding: 0;
}

@media screen and (min-width: 1200px) {

    .desktop-option:hover:after,
    .desktop-option:hover:before {
        border: 1px solid black;
    }
}
